<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
</head>
<body>
    <header>
        <img id="logo" href="resources/logo.png">
        <h1>Our Catalog</h1>
        <div id="login-register">
            <button id="shopping cart">cart</button>
            <button id="login">log in</button>
            <button id="register">register</button>
        </div>
    </header>
    <div id="sidebar">
        <!-- Here will be the different ways to customize the order and filter the products someone wants to see -->
    </div>
    <!-- Here will be the products -->
    <div id="view-options">
        <button id="show-more">show more</button>
        <button id="show-all">show all</button>
        <p>showing 0/0 products</p>
    </div>
    <footer>
        
    </footer>
</body>
</html>