<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Alegria | Password change</title>
</head>
<body>
    <header>
        <img id="logo" src="/public/resources/logo.png" alt="Logo">
        <h1 id="header-message">Change password</h1>
    </header>
    <container>
        <form id="password-change-form">
            <div id="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="new-password" name="new-password" placeholder="New Password" required>
                <input type="password" id="verify-password" name="verify-password" placeholder="Verify Password" required>
            </div>
            <button type="submit" id="change-password-button">Change Password</button>
            <p>
                Remembered your password? <a href="loginPage.html">Log in</a>
            </p>
            <p>
                Don't have an account? <a href="registerPage.html">Register</a>
            </p>
        </form>
    </container>
    <footer>
        <p>
            Designed by: Andre Villegas & Leonardo Correa
        </p>
    </footer>
</body>
</html>