<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Alegria | Employees table</title>
</head>
<body>
    <header>
        <img id="logo" src="/public/resources/logo.png">
        <h1 id="header-message">Employees</h1>
    </header>
    <div id="sidebar">
        <!-- Here will be the different ways to customize the order and filter the employees someone wants to see (by name, document, charge, salary, etc) -->
    </div>
    <container>
        <table id="employees-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Document</th>
                    <th>Charge</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <!-- Here will be the employees -->
            </tbody>
        </table>
        <div id="view-options">
            <button id="show-more">Show more</button>
            <button id="show-all">Show all</button>
            <p>Showing 0/0 employees</p>
        </div>
    </container>
    <footer>
        <p>
            Designed by: Andre Villegas & Leonardo Correa
        </p>
    </footer>
</body>
</html>